// COLOR PALETTE
$clr1: #8A33FD;
$clr2: #3C4242;
$clr3: #807D7E;
$clr4: #BEBCBD;
$clr5: #EDEEF2;
$clr6: #FFF;


// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;